.video-tag {
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

@media only screen and (max-width:  1370px) {
    .video-tag  {
        object-fit: cover;
    }
}